.forgotPage {
    display: grid;
    place-items: center;
    margin: 0;
    height: 100vh;
    padding: 0 24px;
    background-color: var(--color-primary);
    background-image: url('../../../../components/Dahsboard/AdminAuth/AdminLogin/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Euclid Circular A";
    color: #f9f9f9;
    animation: rotate 6s infinite alternate linear;
}

:root {
    --color-primary: #7656f0;
}

.forgotPage::after {
    content: "";
    position: fixed;
    inset: 0;
    background: rgb(0 0 0 / 35%);
}

.forgotPage .container {
    position: relative;
    z-index: 3;
    width: 100%;
    margin: 0 20px;
    padding: 70px 30px 44px;
    border-radius: 20px;
    background: rgb(24 21 36 / 66%);
    backdrop-filter: blur(10px);
    text-align: center;
    gap: 2rem;
}

@media (width >=440px) {
    .forgotPage .container {
        margin: 0;
        width: 70%;
        min-width: 400px;
    }
}

@media (width >=500px) {
    .forgotPage .container {
        padding: 0;
    }
}

@media (min-width: 620px) {
    .forgotPage .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        max-width: 500px;
        min-width: auto;
        padding: 10% 64px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 20px;
        background: rgb(24 21 36 / 66%);
        backdrop-filter: blur(10px);
    }
}

.forgotPage>h2 {
    font-size: 36px;
    font-weight: 400;
    margin: 0 0 12px;
}

.forgotPage>h3 {
    color: rgb(255 255 255 / 38%);
    margin: 0 0 48px;
    font-weight: 400;
    font-size: 16px;
}

.forgotPage .forgotForm {
    width: 100%;
    margin: 0;
    display: grid;
    gap: 16px;
}

.forgotForm> :is(input, button) {
    width: 100%;
    height: 56px;
    border-radius: 6px;
    border: 0;
}

.forgotForm>input {
    color: rgb(255 255 255 / 96%);
    background: rgb(255 255 255 / 8%);
    font-family: inherit;
    font-size: 16px;
    padding: 0 16px;
}

.forgotForm>input:focus {
    outline: #342D52;
}

.forgotForm>input::placeholder {
    color: rgb(255 255 255 / 38%);
}

.forgotForm>button {
    cursor: pointer;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    background: var(--color-primary);
    color: #f9f9f9;
    border: 0;
    font-family: inherit;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    transition: all 0.375s;
}

.forgotForm>a {
    color: var(--color-primary);
    font-size: 16px;
    text-align: left;
    text-decoration: none;
    margin-bottom: 30px;
}