.cardBoxSection {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: #F5F5F5;
    transition: 0.5s;
    top: 80px;
}

.cardBoxSection.active {
    width: calc(100% - 60px);
    left: 60px;
}

.cardBoxSection .cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 20px;
}

.cardBoxSection .cardBox .card {
    position: relative;
    background: #ffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardBoxSection .cardBox .card .cardContent {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.cardBoxSection .cardBox .card .numbers {
    position: relative;
    font-size: 2em;
    font-weight: 500;
}

.cardBoxSection .cardBox .card .cardName {
    color: #999;
}

.cardBoxSection .cardBox .card .iconBox {
    font-size: 2.5em;
    color: #03a9f4;
}

.dahsboardDetails {
    position: relative;
    width: 100%;
    padding: 20px;
    padding-top: 0;
    display: grid;
    grid-gap: 20px;
    /* ikiye böler */
    grid-template-columns: 1fr;
}

.dahsboardDetails .recentOrders {
    position: relative;
    /* display: grid; */
    min-height: 530px;
    background: #ffff;
    padding: 20px;
}

.dahsboardDetails .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.dahsboardDetails .cardHeader h2 {
    font-weight: 600;
}

.dahsboardDetails .cardHeader .btn {
    position: relative;
    padding: 5px 10px;
    background: #03a9f4;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    font-size: 1.5rem;
    cursor: pointer;
}

.dahsboardDetails table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.dahsboardDetails table thead td {
    font-weight: 600;
}

.dahsboardDetails .recentOrders table tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.dahsboardDetails .recentOrders table tr a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.dahsboardDetails .recentOrders table tbody tr:last-child {
    border-bottom: none;
}

.dahsboardDetails .recentOrders table tbody tr:hover {
    background: #03a9f4;
    color: #fff;
}

.dahsboardDetails .recentOrders table tr td {
    padding: 9px 5px;
}

.dahsboardDetails .recentOrders table tbody tr td:last-child,
.dahsboardDetails .recentOrders table thead tr td:last-child {
    text-align: right;
}

.dahsboardDetails .recentOrders table tbody tr td:nth-child(2),
.dahsboardDetails .recentOrders table thead tr td:nth-child(2) {
    padding-right: 20px;
}

.dahsboardDetails .recentOrders table tbody tr td:nth-child(3),
.dahsboardDetails .recentOrders table thead tr td:nth-child(3) {
    text-align: center;
}

.dahsboardDetails .recentOrders table tbody tr td.editIcons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5em;
}

.dahsboardDetails .recentOrders table tbody tr td.editIcons span {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.dahsboardDetails .recentOrders table tbody tr td.editIcons span:hover {
    transform: scale(1.2);
    /* İkonlar üzerine gelindiğinde büyütme efekti */
}

.dahsboardDetails .recentOrders table tbody tr td.editIcons a {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.dahsboardDetails .recentOrders table tbody tr td.editIcons a:hover {
    transform: scale(1.2);
    /* İkonlar üzerine gelindiğinde büyütme efekti */
}

.dahsboardDetails .recentOrders .status {
    position: relative;
    padding: 2px 4px;
    background: #f00;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
}

.dahsboardDetails .recentOrders .delivered {
    background: #8de02c;
}

.dahsboardDetails .recentOrders .pending {
    background: #f9ca3f;
}

.dahsboardDetails .recentOrders .return {
    background: #f00;
}

.dahsboardDetails .recentOrders .inprogress {
    background: #1795ce;
}

.dahsboardDetails .recentCustomers {
    position: relative;
    display: grid;
    min-height: 530px;
    background: #fff;
    padding: 20px;
}

.dahsboardDetails .recentCustomers tr td {
    width: 60px;
}

.dahsboardDetails .recentCustomers .imgBox {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    top: 0;
}

.dahsboardDetails .recentCustomers .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 992px) {
    .cardBoxSection .cardBox {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .dahsboardDetails .cardHeader h2 {
        font-weight: 600;
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .cardBoxSection {
        width: 100%;
        left: 0;
    }

    .cardBoxSection.active {
        width: calc(100% - 60px);
        left: 60px;
    }

    .cardBoxSection .cardBox {
        grid-template-columns: repeat(1, 1fr);
    }

    .dahsboardDetails .recentOrders {
        overflow-x: auto;
    }

    .dahsboardDetails .recentOrders table {
        width: 600px;
    }

}