/* body {
    width: 100vw;
    height: 100vh;
    background: #151515;
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.slider__container {
    width: 100vw;
    height: 90vh;
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: start;
}

@media screen and (max-width: 768px) {
    .slider__container {
        width: 100vw;
        height: 60vh;
        position: relative;
        display: flex;
        /* justify-content: center; */
        align-items: start;
    }
}

.next,
.prev {
    top: calc(40% - 20px);
    margin-left: 1rem;
    margin-right: 1rem;
    position: absolute;
    background: white;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    z-index: 2;
}

@media screen and (max-width: 768px) {

    .next,
    .prev {
        top: calc(45% - 20px);
        margin-left: 0.2rem;
        margin-right: 0.2rem;
        position: absolute;
        background: white;
        border-radius: 30px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        cursor: pointer;
        font-weight: bold;
        font-size: 18px;
        z-index: 2;
    }
}

.next {
    right: 10px;
}

.prev {
    left: 10px;
    transform: scale(-1);
}

img {
    position: absolute;
    max-width: 100vw;
    min-height: 759px;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    img {
        position: absolute;
        max-width: 100vw;
        min-height: 510px;
        object-fit: cover;
    }
}

.slider__content {
    z-index: 10;
    height: 100%;
    width: 40%;
    margin-left: 5rem;
    margin-top: 6rem;
    color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.slider__content .title {
    font-family: 'DM Sans';
    font-size: 33px;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: slide-in 2s forwards;
}

.slider__content .sub__title {
    font-family: 'Bebas Neue';
    font-size: 100px;
    font-weight: 300;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: slide-in 1s forwards;
}

.slider__content .scroll__down {
    font-family: 'Barlow Condensed';
    font-size: 22px;
    font-weight: 300;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: slide-in 4s forwards;
    cursor: pointer;
    margin-top: 3rem;
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translate(0%, 50%);
        /* Aşağıda başlasın */
    }

    100% {
        opacity: 1;
        transform: translate(0%, 0%);
        /* Orta noktaya gelme */
    }
}


@media screen and (max-width: 768px) {
    .slider__content {
        z-index: 10;
        height: 100%;
        width: 80%;
        margin-left: 20px;
        margin-top: 80px;
        color: #ffff;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .slider__content .title {
        font-family: 'DM Sans';
        font-size: 22px;
        font-weight: 200;
    }

    .slider__content .sub__title {
        font-family: 'Bebas Neue';
        font-size: 65px;
        font-weight: 300;
    }

    .slider__content .scroll__down {
        font-family: 'Barlow Condensed';
        font-size: 17px;
        font-weight: 300;
    }
}

.refresh {
    padding: 10px;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}