.fuse__section {
    width: 100vw;
    height: 100vh;
    background-color: #F4F4F4;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    position: relative;
    /* Ana container'ı pozisyonlandırmak için */
}

.fuse__component {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.fuse__image__component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 60%;
    position: relative;
}

.fuse__content__component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    flex: 40%;
}

.first__image {
    max-width: 90%;
    max-height: 80%;
    min-height: 80%;
    min-width: 90%;
}

.first__image img {
    max-width: 68%;
    max-height: 82%;
    min-height: 82%;
    min-width: 68%;
    object-fit: contain;
}

.second__image {
    position: absolute;
    top: 35%;
    left: 30%;
    z-index: 1;
    max-width: 80%;
    min-width: 80%;
    max-height: 90%;
    min-height: 90%;
}

.second__image img {
    max-width: 79%;
    min-width: 79%;
    max-height: 90%;
    min-height: 90%;
    object-fit: contain;
}

.repair__title {
    font-family: 'DM Sans';
    font-size: 14px;
    color: #141414;
}

.repair__desc {
    font-family: 'Barlow Condensed';
    font-size: 57px;
    font-weight: 500;
    color: #121114;
}

.repair__article li {
    list-style: none;
    font-family: 'DM Sans';
    font-size: 25px;
    display: flex;
    gap: 0.5rem;
}

.repair__article li svg {
    color: #FE600E;
    font-size: 32px;
    font-weight: 800;
}

.repair__article .contact__btn {
    padding: 17px 50px;
    background-color: #FE600E;
    border-color: #FE600E;
    color: #F4F4F4;
    font-size: 16px;
    font-weight: 800;
    font-family: 'DM Sans';
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.repair__article .contact__btn:hover {
    background-color: #E05200;
    color: #FFFFFF;
}


@media (max-width: 767px) {
    .fuse__section {
        width: 100vw;
        height: 105rem;
    }

    .fuse__component {
        padding-top: -15rem;
    }

    .fuse__image__component {
        flex: 100%;
    }

    .fuse__content__component {
        flex: 100%;
        width: 100%;
        margin: auto;
    }

    .first__image img {
        max-width: 66%;
        min-width: 64%;
        max-height: 35.5rem;
        min-height: 38rem;
    }

    .second__image img {
        max-width: 79%;
        min-width: 79%;
        max-height: 31.5rem;
        min-height: 31.5rem;
    }

    .second__image {
        top: 240px;
        left: 20%;
    }

}